<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .text-wine {
            color: #753f3a;
            background-color: #753f3a;
        }

        .text-yellow {
            color: #ede2be;
            background-color: #ede2be;
        }

        .text-olive {
            color: #6d6c59;
            background-color: #6d6c59;
        }

        .text-navy {
            color: #1e2b45;
            background-color: #1e2b45;
        }

        .text-white {
            background-color: white;
            color: white;
        }

        .text-black {
            background-color: black;
            color: black;
        }

        select option.text-white {
            background-color: white;
            color: white;
        }

        select option.text-black {
            background-color: black;
            color: black;
        }

        select option.text-wine {
            background-color: #753f3a;
            color: #753f3a;
        }

        select option.text-yellow {
            background-color: #ede2be;
            color: #ede2be;
        }

        select option.text-olive {
            background-color: #6d6c59;
            color: #6d6c59;
        }

        select option.text-navy {
            background-color: #1e2b45;
            color: #1e2b45;
        }
    </style>
</head>
<body>
<div th:replace="frag/header :: header"></div>
<div class="d-flex container" style="min-height: 448px;">
    <!--    <div class="w-25">-->
    <!--        <div th:replace="fragments/sidebar :: sidebar"></div>-->
    <!--    </div>-->
    <div class="w-100">
        <div class="mt-5">
            <h2>Danh sách Color</h2>
            <div class="row mt-3">
                <div class="mt-5 " th:if="${totalItems < 6}">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            data-bs-whatever="@Duc Manh">Add Color
                    </button>
                </div>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Name</th>
                        <th>UploadDate</th>
                        <th>Status</th>
                        <th colspan="3">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="o, iterStat : ${list}">
                        <td th:text="${iterStat.count}"></td>
                        <td>
                            <span th:if="${o.name=='while'}" class="btn text-white"
                                  th:text="${o.name}"></span>
                            <span th:if="${o.name=='black'}" class="btn text-black"
                                  th:text="${o.name}"></span>
                            <span th:if="${o.name=='wine'}" class="btn text-wine"
                                  th:text="${o.name}"></span>
                            <span th:if="${o.name=='yellow'}" class="btn text-yellow"
                                  th:text="${o.name}"></span>
                            <span th:if="${o.name=='olive'}" class="btn text-olive"
                                  th:text="${o.name}"></span>
                            <span th:if="${o.name=='navy'}" class="btn text-navy"
                                  th:text="${o.name}"></span>
                        </td>
                        <td th:text="${@dateFormatter.format(o.uploadDate)}"></td>
                        <td>
                            <span th:if="${o.status==1}" class="btn btn-sm btn-outline-success">Hoạt động</span>
                            <span th:if="${o.status==0}" class="btn btn-sm btn-outline-danger">Không hoạt động</span>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger"
                               th:href="@{/Color/delete/{id}(id=${o.idColor})}"
                               onclick="return confirm('Are you sure you want to delete this Color?');">Remove</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:replace="color/page_color :: pageColor"></div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">New Color</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row" th:action="@{/Color/add}" method="POST" th:object="${colorNew}">
                                <div class="col-12">
                                    <label class="form-label">Color: </label>
                                    <select class="form-select" name="name" required>
                                        <option value="">Choose a color</option>
                                        <option th:each="color : ${availableColors}"
                                                th:value="${color}"
                                                th:text="${color}"
                                                th:class="${'text-' + color}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Status: </label>
                                    <select class="form-control" name="status" required>
                                        <option th:value="1">Hoạt động</option>
                                        <option th:value="0">Không hoạt động</option>
                                    </select>
                                </div>
                                <div class="mt-5">
                                    <button class="btn btn-success" type="submit">Add Color</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <!--                            <button type="button" class="btn btn-primary">Send message</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="frag/footer :: footer"></div>
<script>
    const exampleModal = document.getElementById('exampleModal')
    if (exampleModal) {
        exampleModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const recipient = button.getAttribute('data-bs-whatever')
            // If necessary, you could initiate an Ajax request here
            // and then do the updating in a callback.
            // Update the modal's content.
            const modalTitle = exampleModal.querySelector('.modal-title')
            const modalBodyInput = exampleModal.querySelector('.modal-body input')

            modalTitle.textContent = `New Color to ${recipient}`
            modalBodyInput.value = recipient
        })
    }
</script>
<script>
    $(document).ready(function () {
        $('select[name="name"]').select2({
            templateResult: formatState,
            templateSelection: formatState
        });
    });

    function formatState(state) {
        if (!state.id) {
            return state.text;
        }
        var $state = $(
            '<span class="' + state.element.className + '">' + state.text + '</span>'
        );
        return $state;
    };
</script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>
</html>